# Plugin Configuration for IJ_Jtransforms
# Each entry is menuName, "Command text", className
# Author LazzyIzzi
# Requires ImageJ 1.53k
# Date:3/21/2026

#Eclipse embeds the package name (IJ_Jtransforms) into the the className access path.
#plugins.config must explicitly put the package name in the className access path.
#Note the use of the "dot" in the path string. Why not the traditional "/" or "\"???

#only one plugins.config file per jar file
#jar file structure must be flat, i.e. no embedded directories

#Be sure to include ImageJAddIns when exporting the IJ_Jtransforms.jar file


Plugins>Transforms>Image Transforms,"Forward FFT", IJ_JTransforms.Forward_FFT
Plugins>Transforms>Image Transforms,"Inverse_FFT", IJ_JTransforms.Inverse_FFT

Plugins>Transforms>Image Transforms,"Discrete Transforms", IJ_JTransforms.Discrete_Transforms
Plugins>Transforms>Image Transforms,"FFT Operations", IJ_JTransforms.FFT_Operations

Plugins>Transforms>Image Transforms,"Apply Centered Cutoff", IJ_JTransforms.Apply_Centered_Cutoff
Plugins>Transforms>Image Transforms,"Apply Threshold", IJ_JTransforms.Apply_Threshold

Plugins>Transforms>Image Conversions,"Mag Phase To Real Imaginary", IJ_JTransforms.Mag_Phase_To_Real_Imaginary
Plugins>Transforms>Image Conversions,"Real-Imaginary To Mag-Phase", IJ_JTransforms.Real_Imaginary_To_Mag_Phase
Plugins>Transforms>Image Conversions,"Phase Shift", IJ_JTransforms.Phase_Shift

Plugins>Transforms,"Show JT license", IJ_JTransforms.Show_JT_license
Plugins>Transforms>Plot_Transforms,"Plot_Transforms", IJ_JTransforms.Plot_Transforms
Plugins>Transforms>Plot_Transforms,"Plot_Operations", IJ_JTransforms.Plot_Operations

